name: Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: initial
        run: npm install
      - name: compile
        run: npx hardhat compile
      - name: test
        run: npx hardhat test
      - name: coverage
        run: npx hardhat coverage
      - name: coverage badge
        run: npm run make-badges
